.homepage-container {
    .video-header {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .homepage-content {
        width: 50%;
        position: relative;
        padding: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .title-content_1 {
            font-size: 45px;
            font-weight: 600;
        }
        .title-content_2 {
            font-size: 25px;
        }
        .title-content_3 {
            button {
                border-radius: 5px;
                height: 40px;
                background-color: black;
                color: white;
            }
        }
    }
}
